<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta editor='true'}}
</head>

<body id="top" class="page">
	{{>header hrefForAA='true' 02active='true'}}

	{{>pageContent2Column containerXlarge='true' BreadcrumbUserVisibleOnDesk='true' breadcrumb1='true' breadcrumbLink1='#' breadcrumbTxt1='最新消息' breadcrumb2='true' breadcrumbLink2='#' breadcrumbTxt2='新書通報' breadcrumbCurrent='中文新到館藏' userOn='true' user='陳大天' linkLogout='index.html' navMenuTitle='true' navMenuTitleClasses=' pb-2 uk-visible@m' navMenuTitleName='新書通報' listMenu1level='true' listMenuVisibleOnDesktop='true' h2buttonMobile='true' h2buttonMobileClasses='btn_primary mt-2 uk-button uk-button-small uk-button-primary' h2buttonNameMobile='新書通報分類' h2buttonDropdown='true' h2linkBack='true' h2linkBackHref='#' h2linkBackTxt='回列表' content='newbooks' pageTitle='新到書籍-中文' hrefForAA='true'}}

	{{>footer hrefForAA='true'}}
</body>

</html>