<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta}}
</head>

<body id="top" class="page">
	{{>header 02active='true'}}

	{{>pageContent2Column containerXlarge='true' BreadcrumbUserVisibleOnDesk='true' breadcrumbCurrent='最新消息' userOn='true' user='陳大天' linkLogout='index.html' listMenu1level='true' listMenuVisibleOnDesktop='true' h2buttonMobile='true' h2buttonMobileClasses='btn_primary mt-2 uk-button uk-button-small uk-button-primary' h2buttonNameMobile='消息分類' h2buttonDropdown='true' content='news' pageTitle='最新消息'}}

	{{>footer}}
</body>

</html>