<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta editor='true'}}
</head>

<body id="top" class="page">
	{{>header 02active='true'}}

	{{>pageContent2Column containerXlarge='true' BreadcrumbUserVisibleOnDesk='true' breadcrumb1='true' breadcrumbLink1='#' breadcrumbTxt1='Link1' breadcrumb2='true' breadcrumbLink2='#' breadcrumbTxt2='Link2' breadcrumbCurrent='Current' userOn='true' user='陳大天' linkLogout='index.html' sideMenuTop='true' sideMenuTopStyle='height: 8px;' navMenuTitle='true' navMenuTitleClasses=' text-xl mt-0 uk-visible@m' navMenuTitleName='新書通報' listMenu1level='true' listMenuVisibleOnDesktop='true' h2button='true' h2buttonClasses='btn_primary uk-button uk-button-small uk-button-primary' h2buttonLink='#' h2buttonFaicon='true' h2buttonFaiconClasses='far fa-envelope' h2buttonName='訂閱新書通知' h2buttonMobile='true' h2buttonMobileClasses='btn_primary uk-button uk-button-small uk-button-primary' h2buttonNameMobile='新書通報' h2buttonDropdown='true' content='news01' pageTitle='中文新到館藏'}}

	{{>footer}}
</body>

</html>