<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta editor='true'}}
</head>

<body id="top" class="page">
	{{>header-modal 02active='true'}}

	{{>pageContent BreadcrumbUserVisibleOnDesk='true' breadcrumb1='true' breadcrumbLink1='#' breadcrumbTxt1='Link1' breadcrumbCurrent='Current' userOn='true' user='陳大天' linkLogout='index.html' content='news02' pageTitle='新到期刊目次'}}

	{{>footer}}
</body>

</html>