<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta editor='true'}}
</head>

<body id="top" class="page">
	{{>header hrefForAA='true' 04active='true'}}

	{{>pageContent BreadcrumbUserVisibleOnDesk='true' breadcrumb1='true' breadcrumbLink1='#' breadcrumbTxt1='資源查詢' breadcrumbCurrent='電子資料庫' userOn='true' user='陳大天' linkLogout='index.html' content='search' pageTitle='電子資料庫' hrefForAA='true'}}

	{{>footer hrefForAA='true'}}
</body>

</html>