<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta editor='true'}}
</head>

<body id="top" class="page">
	{{>header hrefForAA='true' 05active='true'}}

	{{>pageContent BreadcrumbUserVisibleOnDesk='true' breadcrumb1='true' breadcrumbLink1='#' breadcrumbTxt1='我的圖書館' breadcrumbCurrent='更改密碼' pageTitle='更改密碼' hrefForAA='true' content='password' stack='true' stackClass='uk-width-1-2@s' errorOn='true' error='驗證提示語' note='true' noteText='密碼規則說明' reset='true' resetTxt='重　　填'}}

	{{>footer hrefForAA='true'}}
</body>

</html>