<!DOCTYPE html>
<html class="text-m" lang="zh-Hant-TW">

<head>
	{{>meta editor='true'}}
</head>

<body id="top" class="page">
	{{>header hrefForAA='true' 05active='true'}}

	{{>pageContent BreadcrumbUserVisibleOnDesk='true' breadcrumb1='true' breadcrumbLink1='#' breadcrumbTxt1='我的圖書館' breadcrumbCurrent='新書通報訂閱管理' userOn='true' user='陳大天' linkLogout='index.html' content='subscribe' pageTitle='新書通報訂閱管理' hrefForAA='true'}}

	{{>footer hrefForAA='true'}}
</body>

</html>