<table class="uk-table uk-table-striped uk-table-responsive">
	<tbody>
		{{!-- <tr>
			<td class="pr-2 uk-text-nowrap">相關題名：</td>
			<td>Web of Science (SCIE) WOS-SCIE Web of Science</td>
		</tr> --}}
		<tr>
			<td class="pr-2 uk-text-nowrap">資料類型：</td>
			<td>資料庫</td>
		</tr>
		<tr>
			<td class="pr-2 uk-text-nowrap">平　　台：</td>
			<td><a class="color_primary uk-text-bold" href="#" title="#">碩睿 (1899-)</a></td>
		</tr>
		<tr>
			<td class="pr-2 uk-text-nowrap">狀　　態：</td>
			<td>訂購</td>
		</tr>
		<tr>
			<td class="pr-2 uk-text-nowrap">語　　言：</td>
			<td>西文</td>
		</tr>
		<tr>
			<td class="pr-2 uk-text-nowrap">類　　型：</td>
			<td><a class="block mb-2 color_primary uk-text-bold" href="#" title="#">單行顯示文字連結</a><a class="block mb-2 color_primary uk-text-bold" href="#" title="#">單行顯示文字連結</a></td>
		</tr>
		<tr>
			<td class="pr-2 uk-text-nowrap">主　　題：</td>
			<td><a class="color_primary uk-text-bold" href="#" title="#">科學工</a></td>
		</tr>
		<tr>
			<td class="pr-2 uk-text-nowrap">校外連線：</td>
			<td>可校外連線</td>
		</tr>
		<tr>
			<td class="pr-2 uk-text-nowrap">使用手冊：</td>
			<td>快速參考指南</td>
		</tr>
		<tr>
			<td class="pr-2 uk-text-nowrap">簡介：</td>
			<td><span class="editor">提供台灣<font color="red">同時上線限制：5人</font></span>地區的消費者消費趨勢與生活型態的調查資料。<span class="editor"><a href="#">可探知200個</a></span>以上商品市場及數百類目標消費群之生活意見與態度，並提供台灣市場行銷與品牌化(Branding)重要資訊，協助發展新商品概念、找尋目標消費者、市場區隔、傳播策略、品牌管理。<span class="editor"><span style="color: blue;">快速參考指南</span></span></td>
		</tr>
	</tbody>
</table>