<h3>{{h3Title}}</h3>
<!-- uk-child-width-expand@s -->
<div class="uk-grid uk-grid-small uk-child-width-expand@s" uk-grid>
	<div class="min_width-1/3!@s">
		<img class="w-full" data-src="https://fakeimg.pl/450x600/" data-width data-height alt="封面" uk-img>
	</div>
	<div class="min_width-2/3!@s">
		<h3 class="mt-0">藥下師歌高成何現有時然說河</h3>
		<!-- uk-list-divider -->
		<ul class="uk-list uk-list-divider">
			<li>出版社：遠流</li>
			<li>出版地：台灣</li>
			<li>出版日期：2020</li>
			<li>版次：一版</li>
			<li>ISBN：123456789</li>
		</ul>
		<!-- uk-list-divider -->
	</div>
</div>
<!-- uk-child-width-expand@s -->