<h3>{{h3Title}}</h3>
{{!-- {{>searchBox placeholder='請輸入刊名' 2ndInput='true' 2ndPlaceholder='請輸入ISSN' 2ndButton='true' 2ndButtonName='加入訂閱' 3rdButton='true' 3rdButtonName='瀏覽/刪除訂閱'}} --}}
{{>searchBox placeholder='請輸入刊名' 2ndInput='true' 2ndPlaceholder='請輸入ISSN'}}
<!-- uk-tab -->
<ul class="border2 border_primary uk-tab" uk-tab uk-margin>
	<li><a href="#">注音瀏覽</a></li>
	<li><a href="#">字母瀏覽</a></li>
	<li><a href="#">語文瀏覽</a></li>
	<li><a href="#">主題瀏覽</a></li>
</ul>
<!-- uk-tab -->
<!-- uk-switcher -->
<ul class="mb-2 uk-switcher uk-margin">
	<li>
		<!-- uk-grid -->
		<div class="uk-grid uk-grid-small uk-grid-column-xsmall uk-grid-match" uk-grid uk-height-match="target: > div">
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">ㄅ</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">ㄆ</a>
			</div>
		</div>
		<!-- uk-grid -->
	</li>
	<li>
		<!-- uk-grid -->
		<div class="uk-grid uk-grid-small uk-grid-column-xsmall uk-grid-match" uk-grid uk-height-match="target: > div">
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">A</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">B</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">C</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">D</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">E</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">F</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">G</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">H</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">I</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">J</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">K</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">L</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">M</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">N</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">O</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">P</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">Q</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">R</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">S</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">T</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">U</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">V</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">W</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">X</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">Y</a>
			</div>
			<div class="uk-text-nowrap">
				<a class="uk-button uk-button-small uk-button-default" href="#" title="#" target="_blank">Z</a>
			</div>
		</div>
		<!-- uk-grid -->
	</li>
	<li></li>
	<li></li>
</ul>
<!-- uk-switcher -->
<div class="uk-flex uk-flex-wrap uk-flex-between">
	<div class="min_width-100 mt-1 uk-hidden@m"><label><input class="checkAll uk-checkbox" type="checkbox" onchange="toggleCheckAll(this, '.listCheck', '.checkAll')"> 全選</label></div>
	<div><small>共計<span class="color_secondary py-1">466</span>筆資料</small></div>
	<div class="mb-2 m:m-0 uk-flex uk-flex-nowrap uk-grid-small">
		<div class="uk-text-nowrap">
			<button class="btn_primary w-full uk-button uk-button-small uk-button-primary">加入訂閱</button>
		</div>
		<div class="uk-text-nowrap">
			<button class="btn_primary w-full uk-button uk-button-small uk-button-primary">瀏覽/刪除訂閱</button>
		</div>
	</div>
</div>
<table class="mt-0 uk-table uk-table-small uk-table-striped uk-table-responsive">
	<thead>
		<tr>
			<th class="w-20"><label><input class="checkAll uk-checkbox" type="checkbox" onchange="toggleCheckAll(this, '.listCheck', '.checkAll')"> 全選</label></th>
			<th class="min_width-60">序號</th>
			<th class="w-2/5 uk-text-nowrap">刊名</th>
			<th class="uk-text-nowrap">卷期</th>
			<th class="uk-text-nowrap">全文</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="uk-visible@m"><label><input class="listCheck uk-checkbox" type="checkbox"><span class="pl-1 sr-only">01</span></label></td>
			<td><label><input class="listCheck uk-checkbox uk-hidden@m" type="checkbox"><span class="pl-1">01</span></label></td>
			<td>
				<a class="color_primary hover:underline" href="#">
					中化公會路不真雙林一形必生部
				</a>
			</td>
			<td><span class="mr-2 px-2 bg_black_opacity-15 text-black text-sm uk-hidden@m">卷期</span>第74卷</td>
			<td><span class="mr-2 px-2 bg_black_opacity-15 text-black text-sm uk-hidden@m">全文</span><a class="color_primary hover:underline" href="#">采昌國際多媒體</a></td>
		</tr>
		<tr>
			<td class="uk-visible@m"><label><input class="listCheck uk-checkbox" type="checkbox"><span class="pl-1 sr-only">02</span></label></td>
			<td><label><input class="listCheck uk-checkbox uk-hidden@m" type="checkbox"><span class="pl-1">02</span></label></td>
			<td>
				<a class="color_primary hover:underline" href="#">
					中化公會路不真雙林一形必生部
				</a>
			</td>
			<td><span class="mr-2 px-2 bg_black_opacity-15 text-black text-sm uk-hidden@m">卷期</span>第74卷</td>
			<td><span class="mr-2 px-2 bg_black_opacity-15 text-black text-sm uk-hidden@m">全文</span><a class="color_primary hover:underline" href="#">采昌國際多媒體</a></td>
		</tr>
	</tbody>
</table>
{{>pagination pageArrowText='true' pageSelect='true' pageSum='2'}}