<div class="uk-flex-center uk-flex-column uk-margin uk-grid-small uk-child-width-auto uk-grid" uk-grid>
	<label class="text-center"><input class="mr-1 uk-checkbox" type="checkbox">中文新書通報</label>
	<label class="text-center"><input class="mr-1 uk-checkbox" type="checkbox">西文新書通報</label>
	<label class="text-center"><input class="mr-1 uk-checkbox" type="checkbox">日文新書通報</label>
	<div class="mt-5 mx-auto uk-width-1-4@m"><a class="btn_primary w-full uk-button uk-button-primary" href="">儲存</a></div>
</div>